{% extends "base.html.twig" %}

{% block extendedBody %}

  {% for post in posts %}

          <h2>{{ post.title|e }}</h2>
          <p>{{ post.content|e }}</p>
          <br>

  {% endfor %}

{% endblock %}
