{% extends "base.html.twig" %}

{% block extendedBody %}

  {% for post in posts %}

          <h2><a href="{{ path('post_by_id', {'postId':post.id}) }}">{{ post.title|e }}</a></h2>
          <p>{{ post.content|e }}</p>
          <br>

  {% endfor %}

{% endblock %}
